*{
    margin: 0;
    padding: 0;
}
.profile{
    height: 153px;
    width: 153px;
    border-radius: 153px;
    margin-top: 6.125rem;    
}
.profile_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.25rem;
}
body{
    font-family: 'Poppins', sans-serif; 
    background: #84a98c;
}
.profile_container h2{
    font-size: 2rem;
}
.profile_container h3{
    font-size: 0.75rem;
}
#icon{
display: flex;
justify-content: center;
padding-bottom: 0.700rem;
}
#icon i{
font-size: 1.5rem;
padding-right: 0.5rem;
}
#icon p{
font-size: 0.75rem; 
padding-right: 0.8rem;
}
.borderline{
border: 1px solid black;
width: 34.375rem;
margin: auto;
}
.main_container{
display: flex;
width:80%;
gap: 2rem;
margin: auto;
padding-top: 2rem;
}
.vertical_border{
    border-left: 1px solid black;
    height: 31.25rem;
}
.Aboutme_container{
    width: 90%;
    padding-right: 1rem;
}
.Skills_container{
    width: 90%;
    padding-left: 1rem;
}